@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');


#Heading{
    width:45vw;
    height: 95vh;
    margin-top:0vh;
    margin-left: 0vw;
    background-image: none;
    background-color: transparent;
    transition:box-shadow 0.3s ease; 
    display:inline-block;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 59%, rgba(0, 0, 0, 0.75) 100%), url('../Images/back.jpeg') no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 59%, rgba(0, 0, 0, 0.75) 100%), url('../Images/back.jpeg') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 59%, rgba(0, 0, 0, 0.75) 100%), url('../Images/back.jpeg') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 59%, rgba(0, 0, 0, 0.75) 100%), url('../Images/back.jpeg') no-repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 59%, rgba(0, 0, 0, 0.75) 100%), url('../Images/back.jpeg') no-repeat;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.4);
    background-repeat:repeat;
    background-position: center;
    background-size: 30em;
}
#HeadingText1{
    font-family: 'Yeseva One', cursive;
    text-align: center;
    font-size: 3em;
    color:rgb(100,250,230);
    text-shadow: 1px 1px #f9f9f9;
    letter-spacing: 2px;
    width:35vw;
    margin-left: 5vw;
    margin-top:7vh;
}
#HeadingText2{
    font-family: 'Yeseva One', cursive;
    text-align: center;
    font-size: 3em;
    color:rgb(100,250,230);
    text-shadow: 1px 1px #f9f9f9;
    margin-top: -5vh !important;
    letter-spacing: 2px;
    width:35vw;
    margin-left: 5vw;
}

#ChangingText{
    width:35vw !important;
    margin-left: 5vw;
    text-align: center;
    color:#f9f9f9;
    font-size: 1.2em;
    font-family: 'Karla', sans-serif;
    margin-top:9.5vh;
}

#MainText{
    width:35vw !important;
    margin-left: 5.5vw;
    text-align:left;
    color:#f9f9f9;
    font-size: 1.1em;
    font-family: 'Karla', sans-serif;   
    line-height: 26px;
    margin-top: 6vh;
}
