@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

#Navbar{
    height:60px;
    line-height: 55px;
    width: 100vw;
    padding-left: 0;
    background-color: rgba(0,0,0,0.75);
    box-shadow: 5px 5px 7px rgba(0,0,0,0.4);
}
#Logo{
    width: 15vw;
}
.Navitem{
    color:#f9f9f9;
    font-size: 1.1em;
    vertical-align: bottom;
    width:14vw;
    display: inline-block;
    text-align: center;
    font-family: 'Karla', sans-serif;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
}

