@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

#Navbar{
    height:9vh;
    line-height: 8vh;
    width: 100vw;
    padding-left: 0;
    background-color: rgba(0,0,0,0.75);
    box-shadow: 5px 5px 7px rgba(0,0,0,0.4);
}
#Logo{
    width: 15vw;
    display: inline-block;
}

#LogoImage{
    padding-left:2.5vw;
    padding-top: 1.5vh;
    width: 4vw;
}
#NavLinks{
    display: inline-block;
    width: 100vw;
    position: absolute;
}
.Navitem{
    width:11vw;
    display: inline-block;
    color:#f9f9f9;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size:1.1em;
}
.Navitem:nth-of-type(1)
{
    margin-left: 28vw;
}

