#Slider{
    width: 40vw;
    height: 50vh;
    margin-top:0 !important;
    margin-left:0 !important;
    background-image: url(../Images/slider1.jpg);
    animation: slide 30s infinite;
    background-position: center;
    background-size: cover;
}    
@keyframes slide{
    17% {
        background-image: url(../Images/slider1.jpg);
        opacity:100%;
        }
    19% {
            background-image: url(../Images/slider1.jpg);
            opacity:0%;
            }    
    19.5% {
        background-image: url(../Images/slider2.jpg);
        opacity:0%;
        }
    21.5% {
        background-image: url(../Images/slider2.jpg);
        opacity:100%;
        }    
    
    37% {
        background-image: url(../Images/slider2.jpg);
        opacity:100%;
        }
    39% {
            background-image: url(../Images/slider2.jpg);
            opacity:0%;
            }    
    39.5% {
        background-image: url(../Images/slider3.jpg);
        opacity:0%;
        }
    41.5% {
        background-image: url(../Images/slider3.jpg);
        opacity:100%;
        } 
    
    57% {
        background-image: url(../Images/slider3.jpg);
        opacity:100%;
        }
    59% {
            background-image: url(../Images/slider3.jpg);
            opacity:0%;
            }    
    59.5% {
        background-image: url(../Images/slider4.jpg);
        opacity:0%;
        }
    61.5% {
        background-image: url(../Images/slider4.jpg);
        opacity:100%;
        }
        
    77% {
        background-image: url(../Images/slider4.jpg);
        opacity:100%;
        }
    79% {
            background-image: url(../Images/slider4.jpg);
            opacity:0%;
            }    
    79.5% {
        background-image: url(../Images/slider5.jpg);
        opacity:0%;
        }
    81.5% {
        background-image: url(../Images/slider5.jpg);
        opacity:100%;
        }  
        
    97% {
        background-image: url(../Images/slider5.jpg);
        opacity:100%;
        }
    99% {
            background-image: url(../Images/slider5.jpg);
            opacity:0%;
            }    
    99.5% {
        background-image: url(../Images/slider1.jpg);
        opacity:0%;
        }
    101.5% {
        background-image: url(../Images/slider1.jpg);
        opacity:100%;
        }       
}